//<meta name="viewport" content="width=device-width, initial-scale=1.0"> !!!!!!!!!!!!!!!! do HTML!

@import "scss/_grid";

.container {
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	background-color: lightgrey;
  	justify-content: space-between;
}
.box {
	height: 150px;
	margin-top: 1%;
	text-align: center;
	line-height: 150px;
	font-weight: 900;
	font-size: 3rem;
	color: white;
	background-color: #1BBC9B;
}

.box-1 {
	width: 100%;
	order: 1;
}

.box-2 {
	width: 100%;
	order: 2;
	@media (min-width: 420px) {
			width: 49.5%;
	}
}
.box-3 {
	width: 100%;
	order: 3;
	@media (min-width: 420px) {
			width: 49.5%;
	}	
}
.box-4 {
	width: 49.5%;
	order: 5;
	@media (min-width: 420px) {
		width: 24.25%;
		order: 4;
	}
}
.box-5 {
	width: 49.5%;
	order: 4;
	@media (min-width: 420px) {
		width: 24.25%;
		order: 5;
	}
}
.box-6 {
	width: 49.5%;
	order: 7;
	@media (min-width: 420px) {
		width: 24.25%;
		order: 6;
	}
}
.box-7 {
	width: 49.5%;
	order: 6;
	@media (min-width: 420px) {
		width: 24.25%;
		order: 7;
	}
}
.box-8 {
	width: 100%;
	order: 8;
	@media (min-width: 420px) {
		width: 66%;
		order: 8;
	}
}
.box-9 {
	width: 100%;
	order: 10;
	@media (min-width: 420px) {
		width: 33%;
		order: 9;
	}
}
.box-10 {
	width: 100%;
	order: 9;
	@media (min-width: 420px) {
		width: 100%;
		order: 10;
	}
}
